body{font-family: HelveticaNeue,Arial}
label span{display: block;}

/*td:nth-child(4){background-color: #eee;}*/
td img{width: 100%;}
table{width: 100%;border-collapse: collapse;margin-bottom: 50px;}
th{text-align: left;background: #ddd;padding: 10px;white-space: nowrap;}
th.selector,th.filename{background-color: #666;color:#fff;}
th.filename{text-align: right;}
.reportTxt{white-space: pre-wrap;font-family: monospace; font-size: 11px;}
/*.summaryBlock .fileName{font-style: italic;font-weight: 100;color: #999;}*/

h2>.stat{white-space: nowrap;margin-right: 2em;display: inline-block;}
.progressBarBlock{width:130px;display: inline-block;margin-right: 2em;}
.progress{margin-bottom: -3px;}
.progress-bar{transition:width 0ms;min-width:20%;}



.circle{
    padding: 3px;
    border-radius: 2em;
    color: white;
    width: 1.7em;
    display: inline-block;
    text-align: center;
}

.dot{
    width: 0.5em;
    height: 0.5em;
    border-radius: .5em;
    display: inline-block;
    margin-right: 0.8ex;
}
.yellow{background-color: #ffcc00; }
.red{background: #c60000; }
.green{background: #56e900; }
.flash {animation: blink 350ms infinite alternate; -webkit-animation: blink 350ms infinite alternate; }
@keyframes blink {to { opacity: 0; } }
@-webkit-keyframes blink {to { opacity: 0; } }


/* custom styles & overrides */

.header {
    height: 40px;
    padding: 6px 15px 0;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 10001;
    width: 100%;
}

.header-title {
    font-size: 24px;
    margin: 0;
    color: #fff;
    font-weight: 600;
    float: left;
}

.header-title span {
    font-weight: 300;
}

.filterGroup{padding: 7px; background-color: #eee;}

.subheader {
    padding: 5px 15px 0;
    background-color: rgba(238, 238, 238, .95);
    width: 100%;
    color: #8B8B8B;
    border-bottom: 1px solid #ddd;
    margin-top: 40px;
}

.subheader .logo {
    position: absolute;
    right: 0;
    z-index: 100000;
    top: 0;
    padding: 16px 30px 15px;
    background-color: #81C784;
}

.subheader .logo.hasFails {
    background-color: #E57373;
}

.subheader .logo svg {
    height: 84px;
    width: 57px;
    fill: #AADAAB;
}

.subheader .logo.hasFails svg {
    fill: #EEA1A0;
}

.summaryList {
    width: 100%;
    padding: 0px;
    list-style: none;
    width: auto;
}

.summaryList td {
    width: auto; 
    padding: 8px 0;
}

.test-title {
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #666666;
    position: relative;
}

.test-title:hover {
    color: #428bca;
}

.test-url {
    float: right;
    color: #aaa;
    font-weight: bold;
}
.test-url i {
    font-size: 16px;
}

.test-url:hover {
    text-decoration: none;
}

.test-all-checkbox label {
    margin-right: 10px;
    font-style: italic;
    font-size: 14px;
}

.test-title-actual {
    display: inline-block;
    padding: 7px 10px;
    font-style: italic;
    color: #999;
}

.icon-link {
    display: none;
    color: #428bca;;
    vertical-align: middle;
}

.test-title:hover .icon-link {
    display: inline-block;
}




.summaryList th {
    background-color: #fff;
}

.baseline-header {
    padding-right: 4px;
    margin-bottom: 10px;
}
.baseline-header span {
    margin-right: 10px;
    font-style: italic;
}

.summaryList .baseline,
.detailReport .baseline {
    padding-right: 15px;
    /*border-left: 1px solid #eee;*/
}

.summaryList th.baseline {
    background-color: #fff;
    padding-right: 15px;
    border-left: 0;
}

.summaryList .baseline {
    /*background: rgba(238, 238, 238, .5);*/
    width: 25%;
}

.detailReport th.baseline {
    background-color: #F0F0F0;
    font-weight: normal;
}

.test-select-container {
    position: relative;
}

label {
    color: #AAA;
    font-size: 11px;
}

.filterGroup h2 {
    font-size: 21px;
    margin-top: 12px;
}

h3 {
    margin-bottom: 20px;
}
.summaryBlock {
    margin: 0 15px;
}

.summary-list-container, .detail-container {
    margin: 0 -15px;
}

a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

.lead {
    margin-bottom: 25px;
}

.command-container {
    background: #333;
    padding: 5px;
    overflow: auto;
    padding-right: 25px;
}

.command-showing {
    margin-top: 135px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    white-space: nowrap;
}

.invisible {
    visibility: hidden;
}

.filter-length {
    margin-left: 30px;
    color: #fff;
    position: relative;
    top: -4px;
}

.filter-length strong {
    font-size: 24px;
}

.filter-length span {
    position: relative;
    top: -3px;
    margin: 0 2px;
    color: #777;
}

table .statusInds {
    width: 8.33333333%;
    padding-left: 15px;
    padding-top: 8px;
}

.statusInds h3 {
    margin: 0 0 10px;
}
.summaryList .test-summary {
    width: 91.66666667%;
    padding-right: 10px;
}

#statusFilter {
    border: 2px #ddd solid !important;
    height: 36px;
    box-shadow: none;
}

/* completely */
#directoryFilter {
    border: 2px solid #ddd;
    padding: 5px 10px;
    background: #fff;
}

.completely-dropdown {
    margin: 5px -12px !important;
    border: 2px solid #ddd !important;
    padding: 7px 10px 5px !important;    
}
.completely-dropdown > div {
    color: #333;
}
.completely-dropdown > div:first-child {
    display: none !important;
}
.completely-dropdown div:hover {
    outline: 0 !important;
    cursor: pointer;
    color: #64B5F6 !important;
    border: 0 !important;
}


/* table styles */

.summaryList tr:nth-child(6n-3), .summaryList tr:nth-child(6n-4), .summaryList tr:nth-child(6n-5) {
    background-color: #fdfdfd;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}g
.summaryList tr:nth-child(6n), .summaryList tr:nth-child(6n-1), .summaryList tr:nth-child(6n-2) {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #e3e3e3;
}
.summaryList tr:last-child {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.summaryList tr:nth-child(3n+1) {
    border-top: 2px solid #e3e3e3;
}

.summaryList thead tr {
    border-top: 0 !important;
}

td, th {
    vertical-align: middle;
    padding: 8px;
    width: 33.33333%;
}

.detailReport td {
    vertical-align: top;
}

div.detail:nth-child(3n+1) table.detail-images img, 
div.detail:nth-child(3n+1) .visual-diff-container  {
    max-width: 320px;
}

.detail-images thead {
    width: 100%;
}

.visual-diff-container img + img {
    display: none;
}

/* if 20/20 is engaged show it */
.twentytwenty-wrapper .visual-diff-container img + img {
    display: block;
}

/* main stats */

.stat-main-container {
    padding-top: 4px;
}

.stat-main-container > div {
    display: inline-block;
}

.stat-main {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    top: -4px;
}

.stat-main > div {
    display: inline-block;
}

.stat-main .count {
    font-size: 28px;
    font-weight: bold;
    margin-right: 4px;
    line-height: 1;
}

.stat-label {
    font-size: 11px;
    padding: 4px 8px 3px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 90px;
}

.stat-main .stat-label {
    position: relative;
    top: -6px;
}

.passed .count {
    color: #81C784;
}

.blessed .count {
    color: #64B5F6;
}

.failed .count {
    color: #E57373;
}

.passed .stat-label {
    color: #fff;
    background-color: #81C784;
}

.failed .stat-label {
    color: #fff;
    background-color: #E57373;
}

.blessed .stat-label {
    color: #fff;
    background-color: #64B5F6;
}

.faily i {
    color: #E57373; 
    margin-right: 5px;
}

.faily span {
    color: #E57373; 
    font-size: 13px;
    padding: 4px 8px 3px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bless-help {
    font-weight: 300;
}

.bless-help em {
    margin-left: 8px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn-primary {
    background-color: #64B5F6;
    border-color: #64B5F6;
}

.btn-primary:hover {
    background-color: #428BCA;
    border-color: #428BCA;
}

.diff-icon {
    color: #E57373;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 62px;
}

.diff-icon:hover {
    color: #B05757;
}

#runningBlock {
    display: none;
    background: #333;
    height: 200px;
    overflow-y: scroll;
    padding: 10px 15px 10px;
    overflow-x: hidden;
    margin-top: 94px;
    position: relative;
}

.running-command {
    display: none;
    position: absolute;
    top: 43px;
    z-index: 100000;
    width: 100%;
    color: #fff;
    white-space: nowrap;
    height: 37px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding-top: 7px;
    padding-left: 15px;
    box-shadow: 0px 15px 0 0px #333;
}

.is-running {
    overflow: hidden;
}

.is-running #runningBlock,
.is-running .running-command,
.is-running .running-progress,
.is-running .phalanx-dude {
    display: block;
}

.is-running .header {
    position: absolute;
}

.is-running .summaryBlock,
.is-running .detailReport,
.is-running .subheader {
    display: none;
}

.is-error .header,
.is-error .summaryBlock,
.is-error .detailReport,
.is-error .subheader {
    display: none;
}

body {
    background-color: #333;
}

.content-main {
    background-color: #fff;
}

.detail:last-child table {
    margin-bottom: 0;
}

.is-running #ngProgress-container {
    display: block;
    background: #3C3C3C;
}

.summaryList .back-to-top {
    display: none;
}

.is-running .back-to-top,
.is-error .back-to-top {
    display: none;
}

.back-to-top {
    cursor: pointer;
    /* background: #666; */
    /* color: #fff; */
    /* padding: 4px 7px; */
    display: inline-block;
    /* border-bottom-left-radius: 3px; */
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 15px;
}

#ngProgress-container {
    display: none;
    position: absolute;
    top: 40px;
}

#ngProgress {
    box-shadow: none !important;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/*.running-progress {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: 140px;
    top: 585px;
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 16px;
    color: #eee;
    font-weight: bold;
}*/


.phalanx-dude {
    display: none;
    height: 900px;
    background-color: #333;
}

.phalanx-dude svg {
    position: absolute;
    top: 225px;
    left: 50%;
    margin-left: -130px;
    width: 260px;
    fill: #3C3C3C;
}

.panel-error {
    position: relative;
    top: 100px;
    border-color: transparent;
    background-color: #3B3B3B;
    color: #aaa;
}

.detail-images-label-test {
    float: left;
}

.material-icons { 
    vertical-align: middle 
}

.test-title i {
    font-size: 20px;
    margin-right: 5px;
}

.viewport {
    padding-left: 5px;
}

.viewport-container {
    margin-top: 5px;
}

.viewport-filter {
    margin-right: 30px;
    cursor: pointer;
}

.viewport-filter:last-child {
    margin-right: 0;
}
.viewport-filter input {
    margin-right: 4px;
}

.viewport-filter i {
    color: #666;
    cursor: pointer;
}

.material-icons.checkbox-small {
    font-size: 14px;
    cursor: pointer;
}



/* detail view */

.detailReport { 
    margin: 50px 10px 10px;
}

/* ???? */
.detailReport select {
    display: inline-block;
    width: auto;
}


.detailReport th.statusInds {

    background-color: #F0F0F0;
}

th.detail-topper {
    padding: 0;
    width: 100%;
}

th.detail-topper th {
    width: 100%;
}

.detail-topper table {
    margin-bottom: 0;
}

.detail-topper table th.statusInds {
    width: 8.33333333% !important;
}

.detail-topper table th.selector {
    width: 91.66666667% !important;
    padding-left: 5px;
    padding-right: 10px;
}

.detail-topper table th.baseline {
    width: 25% !important;
}

th.selector,
th.filename {
    background-color: #F0F0F0;
    color:#000;
    width: 66.666667%;
}

.reference {
    padding-left: 15px;
}

.img-filename {
    display: none; /* hide for now */
    font-style: italic;
    font-weight: 100;
    color: #666;
}

.select-test {
    text-align: center;
}


.select-test-details {
    position: relative;
    top: -8px;
    margin-right: 5px;
}

.detailReport { 
    margin: 50px 15px 0px;
    padding-bottom: 50px;
}

/* repeater */
.detail {
    margin-bottom: 45px;
}

/* top row in sticky detail headers*/
.detail-summary-header {
    padding: 8px 0;
    background-color: #eeeeee;
}

.detail-summary-id {
    padding-left: 5px; /* less padding to line up with table above */
}

/* second row in sticky detail headers*/
.detail-label-header {
    background-color: #dddddd;
    font-weight: bold;
    padding: 4px 0;
}

/* centers text and sets height */
.detail-label {
    padding: 6px 0;
    display: inline-block;
}

.detail-images {
    margin-top: 15px; /* margin top necessary, don't put margin bottom on header*/
}

/* bless toggle button/faux checkbox */
.bless {
    display: inline-block;
    width: 200px;
    background: #64B5F6;
    position: absolute;
    top: -4px; /* pulls flush with top */
    padding: 9px 12px 5px; /* important, fills detail-label flush */
    cursor: pointer;
    margin-left: 15px;
}

label.bless-label {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

label.bless-label i {
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 2px;
}

input.bless-checkbox {
    margin-right: 5px;
}

/* sticky header hacks 
something about header when it sticks that needs adjustment */
.custom-sticky-class {
    margin-right: -30px;
}

.custom-sticky-class > div {
    padding-left: 30px;
}