<div layout="column" flex layout-fill ng-cloak>

    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <md-content>
        <section class="summary">
            <md-list>
                <md-list-item 
                    ng-repeat="test in main.testResults.testPairs track by $index" 
                    ng-click="main.gotoAnchor(test.label + '-' + test.viewport)" 
                    aria-label="go to detail">
                    <div test-meta class="md-list-item-text" layout="row" flex></div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>  
        </section>
        <section class="detail">
            <div ng-repeat="test in main.testResults.testPairs track by $index">                
                <screenshot-details></screenshot-details>
            </div>
        </section>
    </md-content>

</div>
