<div layout="vertical" layout-fill>

  <md-content flex>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>
    
    <section class="summary">
        <md-list>
            <md-list-item ng-repeat="test in main.testResults.testPairs">
                <div class="md-list-item-text" layout="row" flex>
                    <div class="test-status" flex="10">
                        {{ test.local_testStatus}}
                    </div>
                    <div class="test-label" flex>
                        {{ test.label}}
                    </div>
                </div>
                <md-button class="md-secondary test-url">{{ test.scenario }}</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>  
    </section>
      </md-content>

</div>
