<span class="test-select-container pull-right">
    <span class="test-title-actual">
        {{ thisTestPair.meta.selector | testTitle }}
    </span>
    <span class="select-test" ng-class="{invisible: thisTestPair.meta.local_testStatus == 'pass'}">
        <input class="test-title-checkbox"
           type="checkbox" 
           value="{{thisTestPair.meta.selector}}" 
           ng-checked="selection.indexOf(thisTestPair.meta.selector) > -1" 
           ng-click="toggleSelection(thisTestPair.meta.selector)" />
    </span>
</span>
