<!DOCTYPE html>
<html>
<head>
  <title>BackstopJS Report</title>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/resemblejs/resemble.js"></script>
  <script type="text/javascript" src="bower_components/async/lib/async.js"></script>
  <script type="text/javascript" src="bower_components/completely/completely.js"></script>
  <script type="text/javascript" src="js/compare.js"></script>
</head>

<body ng-app="compareApp">

  <a class="anchor" id="root"></a>
  <div ng-controller="MainCtrl">
    <div class="summaryBlock">
      <div class='filterGroup form-group'>
        <div class="row">
          <div class="col-md-1">
            <label for="statusFilter" class="control-label">status</label>
            <select id="statusFilter" class="form-control" ng-model="statusFilter" ng-options="status for status in detailFilterOptions"></select>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="directoryFilter">filter</label>
              <div completely id="directoryFilter" suggestions="directories"></div>  
            </div>
          </div>
          <div class="col-md-2">
            <div class="filter-length">showing <strong>{{filtered.length}}</strong> of <strong>{{testPairs.length}}</strong></div>
          </div>
          <div class="col-md-2">
            <h2 class='lead'>
              <div class="stat">Passed <strong class='green circle'>{{passedCount}}</strong>&nbsp;&nbsp; Failed <strong class='red circle'>{{testPairsCompleted-passedCount}}</strong></div>
              <div class="stat" ng-if=displayMode>{{testPairsCompleted}} of {{testPairs.length}}</div>
              <div class="stat" ng-if=displayMode>{{testDuration/1000 | number : 2}}s</div>
              <div class="progressBarBlock" ng-if="testIsRunning">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{testPairsCompleted}}" aria-valuemin="0" aria-valuemax="{{testPairs.length}}" style="width: {{testPairsCompleted/testPairs.length*100| number : 0}}%">
                    <span class="sr-only">{{testPairsCompleted}} of {{testPairs.length}}</span>
                  </div>
                </div>
              </div>
            </h2>
          </div>
          <div class="col-md-4 text-right">
            <h2>BackstopJS Report</h2>
          </div>
        </div>
        <div class="row" ng-show="selection.length">
          <div class="col-md-12 command-container">
            <div class="pull-right text-right">              
              <!--<button class="btn btn-lg btn-primary" ng-click="createBaseline()">create baselines</button>-->
              <div><code>{{ gulpCommand }}</code></div>
            </div>
          </div>
        </div>
      </div>
      
      <h3>Summary</h3>
      <table class="summaryList">
        <tr ng-repeat="thisTestPair in testPairs | filter : displayOnStatusFilter | filter : directoryFilter as filtered">
          <td class="statusInds">
            <div class="indicator scanning" ng-if="thisTestPair.processing"><span class="dot yellow flash"></span>scanning</div>
            <div class="indicator failed" ng-if="!thisTestPair.passed&&!thisTestPair.processing"><span class="dot red"></span>failed</div>
            <div class="indicator passed" ng-if="thisTestPair.passed"><span class="dot green"></span>passed</div>
          </td>
          <td class="test-summary">
            <test-result-summary></test-result-summary>
          </td>
        </tr>
      </table>
    </div> <!-- end summaryBlock -->

    <div class="detailReport">
    <h3>Details</h3>

      <div ng-repeat="thisTestPair in testPairs | filter : displayOnStatusFilter | filter : directoryFilter ">
      <a class="anchor" id="{{ thisTestPair.meta.fileName | anchor }}"></a>
      <table>
        <thead>
          <tr>
            <th class="selector" colspan="4">
              <test-result-summary></test-result-summary>
            </th>
          </tr>
          <tr>
            <th>Reference</th>
            <th>Test</th>
            <th>Diff</th>
            <th>Report</th>
          </tr>
        </thead>
        <tr>
          <td>
            <img ng-src="{{ thisTestPair.a.src }}">
          </td>
          <td>
            <img ng-src="{{ thisTestPair.b.src }}">
          </td>
          <td>
            <img ng-src="{{ thisTestPair.c.src }}" image-name="c">
          </td>
          <td>
            <div class="statusInds">
              <div class="indicator scanning" ng-if="thisTestPair.processing"><span class="dot yellow flash"></span>scanning</div>
              <div class="indicator failed" ng-if="!thisTestPair.passed&&!thisTestPair.processing"><span class="dot red"></span>failed</div>
              <div class="indicator passed" ng-if="thisTestPair.passed"><span class="dot green"></span>passed</div>
            </div>
            <div class="reportTxt">Threshold: {{ thisTestPair.meta.misMatchThreshold}}</div>
            <div class="reportTxt">Report: {{ thisTestPair.report }}</div>
          </td>
        </tr>
      </table>
      </div>

    </div> <!-- end detailReport -->


  <footer></footer>

  </div> <!-- end #root -->

</body>
</html>
